@import url('https://fonts.google.com/specimen/Poppins#standard-styles');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(bg2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}
.main{
     position: relative;
     width: calc(100% - 100px);
     min-height: calc(600vh - 900px);
     min-height: 370px;
     background: rgba(255, 255,255, 0.5);
     box-shadow: 0 15px 35px rgba(0,0,0 ,0.05);
     border-radius: 23px;
     justify-content: space-around;
     align-items: center;
     padding: 90px;


}
header{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255,255, 0.5);
    box-shadow: 0 15px 35px rgba(0,0,0, 0.05);
    border-radius: 23px;
    backdrop-filter: blur(11px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);

}
header .logo{
    color:#8a2435;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;

}
header ul{
    display: flex;
}
header ul li{
  list-style: none;
  margin: 0 10px;

}
header ul li a{
    text-decoration: none;
    font-weight: 600;
    color: #8a2435;
    padding: 8px 15px;
    border-radius: 25px;
    font-size: 1rem;
    
}
header ul li a:hover{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0 ,0.05);
}
.content{
    transform: translateX(-95px);
    max-width: 700px;
    box-shadow: 0 17px 35px rgba(0,0,0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(17px);
    border: 1px solid rgba(255, 253, 253, 0.25);
    border-top: 1px solid rgba(192, 186, 186, 0.5);
    border-left: 1px solid rgba(211, 205, 205, 0.5);
    border-right: 1px solid rgba(211, 205,205, 
    0.5);
    border-bottom: 1px solid rgba(211, 205,205, 
    0.5);
    padding: 40px;
    padding-left: 110px;
}
.content h2{
    font-size: 3em;
    color: #8a2435;

}
.content p{
    font-size: 1.2em;
    color: #8a2435;
}
.content a{
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.icon{
    position: absolute;
    right: -25px;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon li{
    list-style: none;

}
.icon li a{
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0,0,0 ,0.1);
}
.icon li a img{
    transform: scale(0.6);
    transition: 0.5s;
    
}
.icon li:hover a img{
    transform: scale(0.6) rotate(360deg);
    
}
.imgbx img{
max-width: 400px;
position: absolute;
right: 39px;
top: 29px;
animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,100%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(100px);
    }
}
.turm{
    position: absolute;
    bottom: 10px;
    left: 40%;
    color: #8a2435;
}
