body{
    margin-left: 300px;
    background-color: rgb(228, 236, 236);
    
           }           
#input{
    width:420px;
    height: 40px;
    border-radius: 22px;
    margin-bottom: 30px;
    margin-left: 100px;
    border: 4px  solid;
    border-top-color: 2px rgb(248, 12, 110) ;
    border-bottom-color: rgb(47, 0, 255) ;
    border-left-color: rgb(67, 238, 24) ;
    border-right-color: rgb(245, 241, 12) ;
    
}
h2{
    margin-left: 100px;
    font-family: sans-serif;
    color: blue;
    text-decoration:tan dotted;
}

td {
    text-align: center;
    padding: 10px;
    background-color: rgb(155, 153, 153);
    
  }
  th{
      text-align: center;
    background-color: #17491e;
    color: #f00cbe;
  }
  